/* src/components/CaseSimulator.css */
/*
.case-simulator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .result {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    transition: opacity 0.5s, margin-top 0.5s;
  }
  
  .gold-text {
    color: gold;
  }
  */